
    $primary_color : #3F51B5;
    $secondary_color : #9C27B0;
    $accent_color : #FF5722;
    $color_dark: black;
    $color_lighth: white;
    $h1_size:5em;

    @mixin centrarflex(){
        display: flex;
        justify-content: center;
        align-items: center;
    }
